/* BEGIN ABSTRACT STYLES -- ABSTRACT-DIR.SASS */
/* HELPER CLASSES -- HELPERS.SASS */
/**
 * Wrapper class to help with page margins and keeping elements contained properly.
 */
.wrapper {
  width: 100%;
  max-width: 45%; }
  @media all and (max-width: 830px) {
    .wrapper {
      max-width: 60%; } }
  @media all and (max-width: 500px) {
    .wrapper {
      max-width: 85%; } }

/* BEGIN BASE STYLES -- BASE-DIR.SASS */
/* COMMON STYLES - COMMON.SASS */
* {
  -webkit-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s; }

*,
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none; }

html, body {
  overflow-y: hidden;
  font-family: Helvetica; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000639; }

a {
  color: #FFF; }

/* BEGIN COMPONENT STYLES -- COMPONENTS-DIR.SASS */
/* BUTTON STYLES - BUTTONS.SASS */
button {
  outline: none;
  border: none;
  color: #FFF;
  width: 100%;
  border-radius: .375em;
  text-align: center;
  padding: 1.2em 0;
  font-weight: 600;
  font-size: 1.1em;
  background-color: #5c6ac4; }
  button:hover {
    cursor: pointer;
    background-color: #4959bd; }

/* BEGIN LAYOUT STYLES -- LAYOUTS-DIR.SASS */
/* NEWSLETTER CALLOUT STYLES - NEWSLETTER.SASS */
#newsletter-callout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh; }
  #newsletter-callout #main-content {
    color: #FFF;
    -ms-flex-item-align: start;
        align-self: flex-start; }
    #newsletter-callout #main-content h1 {
      margin: 3em 0 1em 0; }
      @media all and (max-width: 600px) {
        #newsletter-callout #main-content h1 {
          font-size: 1.75em; } }
    #newsletter-callout #main-content .rule {
      width: 7%;
      height: 5px;
      background-color: #7AB55C; }
    #newsletter-callout #main-content p {
      font-size: 1.5em;
      margin: 2em 0 1em 0; }
      @media all and (max-width: 600px) {
        #newsletter-callout #main-content p {
          font-size: 1.25em; } }
    #newsletter-callout #main-content form {
      width: 100%; }
      #newsletter-callout #main-content form .input-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        @media all and (max-width: 1030px) {
          #newsletter-callout #main-content form .input-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center; } }
        #newsletter-callout #main-content form .input-container input, #newsletter-callout #main-content form .input-container select {
          outline: none;
          border: 2px solid #7B7B7B;
          border-radius: .5em;
          line-height: 3.5;
          padding: 0 1.15em;
          color: #7B7B7B; }
        #newsletter-callout #main-content form .input-container input[type=text], #newsletter-callout #main-content form .input-container select {
          font-size: 1.1em; }
          @media all and (max-width: 600px) {
            #newsletter-callout #main-content form .input-container input[type=text], #newsletter-callout #main-content form .input-container select {
              font-size: 1em; } }
        #newsletter-callout #main-content form .input-container input {
          width: 62.5%; }
          @media all and (max-width: 1030px) {
            #newsletter-callout #main-content form .input-container input {
              width: 100%; } }
        #newsletter-callout #main-content form .input-container .custom-select {
          width: 35%;
          position: relative;
          display: inline-block; }
          @media all and (max-width: 1030px) {
            #newsletter-callout #main-content form .input-container .custom-select {
              width: 100%;
              margin-top: 1em; } }
          #newsletter-callout #main-content form .input-container .custom-select select {
            background-image: url("./../assets/img/cheveron-down.svg");
            background-repeat: no-repeat;
            background-position: center right 10px;
            background-size: 15%;
            display: inline-block;
            -webkit-appearance: none;
               -moz-appearance: none;
                    appearance: none;
            overflow: hidden;
            outline: none;
            width: 100%; }
            @media all and (max-width: 1030px) {
              #newsletter-callout #main-content form .input-container .custom-select select {
                background-size: 8%; } }
            #newsletter-callout #main-content form .input-container .custom-select select:hover {
              cursor: pointer; }
        #newsletter-callout #main-content form .input-container .custom-select:after {
          pointer-events: none; }
      #newsletter-callout #main-content form .warning {
        opacity: 0;
        margin: .75em 0 1.5em 0;
        color: #C23628;
        font-weight: 700;
        font-size: .95em; }
        @media all and (max-width: 600px) {
          #newsletter-callout #main-content form .warning {
            margin-bottom: 1em; } }
  #newsletter-callout .unsubscribe {
    position: absolute;
    bottom: 0;
    margin: 2.5em 0;
    text-align: center;
    font-size: 1em; }
